# Database
DATABASE_URL="postgresql://user:password@localhost:5432/wyd?schema=public"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# App Configuration
APP_TIMEZONE="America/New_York"

# Cron Job Security
CRON_SECRET="your-cron-secret-here-generate-with-openssl-rand-base64-32"
